* {
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    /* transition: all 500ms; */
}



body {
    background-color: rgba(0, 0, 0, .85);
    color: white;
    opacity: 1;
  
}

main {
    display: flex;
    flex-direction: column;
    padding: 14px;
}

input {
    border: none;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.5);
    color: white;
}

li {
    flex: 1 0 40%;
    text-decoration: none;
    padding: 0 22px 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 15px forestgreen;
    margin: 30px; 
}

a {
    color: rgba(1, 132, 255, 0.719);
    transition: all 1s;
}

a:hover {
    color: rgba(255, 255, 255, 0.746);
}

a:focus {
    color: rgba(212, 38, 235, 0.493);
}

.banner {
    display: flex;
    justify-content: center;
    color: rgba(1, 132, 255, 0.719)
}

.text {
    opacity: 0;
    transition: all 4s;
}

.show {
    opacity: 1;
}

.search-panel {
    background: linear-gradient ( 
        rgba(0, 0, 0, 0.28),  
        rgba(0, 0, 0, 0.28)
        );
    border: none;
    border-radius: 20px 8px 20px 8px;
    box-shadow: 0 0 15px white;
    margin: 10px;
    padding: 10px;
}

.search-panel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trail-search {
    padding: 4px;
}

.mtb-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.05)
        ),
        URL("mtb_api_pics/log-road-pan.jpg") no-repeat center;
    background-size: 100%;
    border-radius: 8px 20px 8px 20px;
    align-content: center;
    box-shadow: 0 0 15px white;        
}

.mtb-image:hover {
    height: 80vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.28),
        rgba(0, 0, 0, 0.28)
        ),
        URL("mtb_api_pics/log-road-pan.jpg") no-repeat center;
    background-size: 100%; 
}

.search-tray-tab {
    width: 20%;
    background: rgba(0, 0, 0, 0.28);
    height: 3vh;
    margin: auto;
    box-shadow: 0 0 15px white;
    border-radius: 0px 0px 8px 8px;
    transition: all 500ms;
    color: white;
    display: flex;
    justify-content: center;
}

.search-tray-tab:hover {
    box-shadow: 0 5px 35px rgba(1, 132, 255, 0.719) inset;
    border-radius: 8px 8px 8px 8px;
    transform: translateY(20%);
}

.search-tray-tab:active {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition-duration: 10ms;
    
}

.search-tray-tab:focus {
    box-shadow: 0 0 25px white inset;
}

.display-legend {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 0 0 25px silver; 
}

.listing-content {
    margin: 14px;
    
}

.forecast-tab {
    
    min-width: 140px;
    height: 3vh;
    background: rgba(0, 0, 0, 0.28);
    box-shadow: 0 0 15px white;
    border-radius: 0px 0px 8px 8px;
    transition: all 500ms;
    color: white;
    display: flex;
    justify-content: center;
}

.forecast-tab:hover {
    box-shadow: 0 0 25px rgba(1, 132, 255, 0.719) inset;
}

.forecast-tab:focus {
    box-shadow: 0 0 25px white inset;
}

.listing-icon {
    max-width: 160px;
    
}

.hidden {
    display: none;
}

.text {
    margin: 2px 0;
}



@media only screen and (max-width: 900px) {
    .search-panel {
        background: linear-gradient(  
            rgba(0, 0, 0, 0.5),  
            rgba(0, 0, 0, 0.5)
            );
    }
    .mtb-image {
      background-size: cover;
      background-position: 30% 0px;
      
  }
    .mtb-image:hover {
      background-size: cover;
      background-position: 30% 0px;
  }
}

@media only screen and (max-width: 810px) {
    .tab {
        min-width: 150px;
    }
}

@media only screen and (max-width: 600px) {
    .mtb-image {
        background-size: cover;
        background-position: 25% 0px;
        
    }
    .mtb-image:hover {
        background-size: cover;
        background-position: 25% 0px;
  
    }

}

@media only screen and (max-width: 400px) {
    .mtb-image {
        background-size: cover;
        background-position: 20% 0px;
        
    }
    .mtb-image:hover {
        background-size: cover;
        background-position: 20% 0px;
   
    }
}
@media only screen and (max-height: 700px) {
.search-tray-tab {
    height: 20px;
}
.forecast-tab {
    height: 20px;
}
}