* {
    box-sizing: border-box;
    /* transition: all 500ms; */
}

body {
    background-color: black;
    color: white;
    opacity: 1;
  
}

main {
    display: flex;
    flex-direction: column;
    padding: 14px;
}

input {
    border: none;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.5);
    color: white;
}

li {
    text-decoration: none;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    box-shadow: 0 0 15px forestgreen;
}

.banner {
    display: flex;
    justify-content: center;
    
}

.text {
    opacity: 0;
    transition: all 4s;
}

.show {
    opacity: 1;
}

.search-panel {
    background: linear-gradi   
        rgba(0, 0, 0, 0.28),  
        rgba(0, 0, 0, 0.28)
        );
    border: none;
    border-radius: 20px 8px 20px 8px;
    box-shadow: 0 0 15px white;
    margin: 10px;
    padding: 10px;
}

.search-panel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trail-search {
    padding: 4px;
}

.mtb-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.05)
        ),
        URL("mtb_api_pics/log-road-pan.jpg") no-repeat center;
    background-size: 100%;
    border-radius: 8px 20px 8px 20px;
    align-content: center;
    box-shadow: 0 0 15px white;        
}

.mtb-image:hover {
    height: 80vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.28),
        rgba(0, 0, 0, 0.28)
        ),
        URL("mtb_api_pics/log-road-pan.jpg") no-repeat center;
    background-size: 100%; 
}

.tab {
    width: 20%;
    height: 3vh;
    margin: auto;
    box-shadow: 0 0 15px white;
    border-radius: 0px 0px 8px 8px;
    transition: all 500ms;
    color: white;
    display: flex;
    justify-content: center;
}

.tab:hover {
    box-shadow: 0 5px 35px white;
    border-radius: 8px 8px 8px 8px;
    transform: translateY(20%);
}

.tab:active {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition-duration: 10ms;
    
}

.tab-span {
    margin: auto;
}

.results {
    border: solid 1px goldenrod; 
}

.listing-icon {
    max-width: 160px;
}

.hidden {
    display: none;
}

.text {
    margin: 2px 0;
}

@media only screen and (max-width: 900px) {
    .search-panel {
        background: linear-gradient(  
            rgba(0, 0, 0, 0.5),  
            rgba(0, 0, 0, 0.5)
            );
    }
    .mtb-image {
      background-size: cover;
      background-position: 30% 0px;
      
  }
    .mtb-image:hover {
      background-size: cover;
      background-position: 30% 0px;
  }
}

@media only screen and (max-width: 600px) {
    .mtb-image {
        background-size: cover;
        background-position: 25% 0px;
        
    }
    .mtb-image:hover {
        background-size: cover;
        background-position: 25% 0px;
  
    }

}

@media only screen and (max-width: 400px) {
    .mtb-image {
        background-size: cover;
        background-position: 20% 0px;
        
    }
    .mtb-image:hover {
        background-size: cover;
        background-position: 20% 0px;
   
    }
}